  
h1,
h2,
h3,
 
h5,
h6{
  font-family: 'Oswald', sans-serif;  
     
}






body{

font-family: 'Roboto', sans-serif; 
padding:0;
margin:0;

 }

 h2{
     text-transform:uppercase;
     text-decoration:underline ;
     text-align: center;
     padding-top:30px;
     font-size: 25px;
     padding-bottom: 30px;
 }

 a{
     text-decoration:none;
     color: rgb(97, 214, 117);

 }

  nav{

    overflow:hidden ;
background-color:rgb(0, 5, 5) ;
position:fixed;
width: 100%;
opacity:0.9;
height: 50px;
  }
   
  header  li{
      text-align: center;
    float:right;
    font-size:1.2em;
    
  }
  header li a{
      text-decoration: none;
      text-align:center;
     padding: 18px 16px;
    
  }
   #logo{


font-weight:1000;
float:left;
text-indent: 1cm;
}

/* image principale*/

#imageprincipale{
  padding-top: 60px ;
  background:url("./image-principale.JPG")   fixed 50% 50%;
  background-size:cover;
  height:500px;
  

}

h1{

text-align: center;
font-size: 50px;

text-decoration:dotted;
text-indent: 0em;
text-shadow: 2px 2px  2px black;
}

#premierTrait{

 height:0.1cm;
 width: 50%;
background-color: rgb(230, 211, 211);
border-radius: 40%;
display: block;
margin: -5px auto;
box-shadow: 0.5px 0.5px  0.3px rgb(6, 252, 47);
 

}

h3{

text-align:center;
margin-top: 2cm;
font-size: 30px;

color:rgb(244, 252, 247);
text-shadow: 2px 2px  2px black;
}

 

#presentation{

background-color: #95fad8b4;
padding-top: 1%;



}

 .Imagesprestation img:hover{
 opacity:0.7;
transform:scale(1.05) ; /*les echelles d une image*/
transition: 0.8s ease-in-out ;
 }

 .Imagesprestation {
  opacity:0.7;
 transform:scale(1) ; /*les echelles d une image*/
 transition: 0.8s  ;
 
  }




 img{

width:180px;
height: 200px;
 border-radius: 5%;
 border: black solid 1px;
 }

 
 


.Imagesprestation{
  display:flex; 
  justify-content: space-between;
  padding: 5% 10%;

}


h4{
  font-family: 'Lucida Sans', Verdana;
}

#tourisme{
     background-color: bisque;
     margin-top: -3.2%;
   padding-bottom: 15px;
}

#oceatl{
  background: url("./image-principale.JPG");

}

#chateau{
  background: url("./phare.JPG");
}

#estuaire{
  background: url("./repas.JPG");
}

#vignoble{
  background: url("./vignes.jpg");
}

#ocean li {
   margin:65px 100px 20px 100px;
   width: 40%;
  height: 200px;
 box-shadow: 2px 2px  2px 2px red ;
 display:inline-block; 
 justify-content: space-between;

}


#ocean p {
  background-color: green ;
   height: 30px;
   width: 150px;
   font-size: 14px;
   float: right;
   padding-top: 10px;
   text-align: center;


}

#foot{

 background-color: rgb(73, 69, 10);
margin-top: -3%;
padding-bottom: 15px;

}

form { 
  padding-left: 10% ;    

}

form input{
 color:rgb(7, 4, 4);
  background-color:green;
  border-radius: 10%;
  width: 400px;
  text-align: center;
  border: black solid 1px ;
margin-top: 3%;
font-size: 15px ;

}

form textarea{
  color:rgb(7, 4, 4);
   background-color:green;
   border-radius: 10%;
   width: 400px;
   text-align: center;
   border: black solid 1px ;
 margin-top: 3%;
 font-size: 15px ;
 
 }

 form button{
  color:rgb(7, 4, 4);
   background-color:green;
   border-radius: 10%;
   width: 100px;
   
   text-align: center;
   border: black solid 1px ;
 margin-top: 3%;
 font-size: 15px ;
 margin-left: 4cm;
 }

 #deuxiemeTrait{
     
  height:0.05cm;
  width: 70%;
 background-color: rgb(15, 2, 2);
 border-radius: 40%;
 display: block;
 margin-top: 20px;
 margin-right: px;
 margin-left: 200px;
 margin-bottom: 15px;
 box-shadow: 0.5px 0.5px  0.3px rgb(6, 252, 47);
 }

 span{
   float: left;
   margin-right: 10px;
 }

 #a1{
  padding-left: 1200px ;
 
 }


html{
  scroll-behavior:smooth;
}


